<footer>
  <div class="left">
    <h1>Find Us On</h1>
    <br>
    <a href="">Steam</a>
    <a href="">Playstation</a>
    <a href="">Xbox</a>
    <a href="">Instagram</a>
    <a href="">Twitter</a>
  </div>
  <div class="right">
    <h1>Rebuilt Games</h1>
    <br>
    <p>Newcastle, NSW 2300</p>
    <p>Australia</p>
  </div>
</footer>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init();
</script>