<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about">
    <hr>
    <br>
    <div class="container">
      <div class="left" data-aos="fade-down-right">
        <span class="title">About Rebuilt Games</span>
        <p>Rebuilt Games is a two person independent game developer based in New South Wales Australia currently working on its first game 'Pummel Party'.</p>
      </div>
      <div class="right" data-aos="fade-down-left">
        <span class="title">Contact</span>
        <div class="contact">
          <div class="left">
            <span>Email</span>
            <span>Twitter</span>
            <span>Reddit</span>
          </div>
          <div class="right">
            <span>info@RebuiltGames.com</span>
            <a href="http://www.twitter.com/RebuiltGames">twitter.com/RebuiltGames</a>
            <a href="https://www.reddit.com/user/ravathor">reddit.com/user/Ravathor
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>