<html lang="en"></html>
<%- include("./partials/head.ejs") %>

<body style="background-color: white;">
  <%- include("./partials/nav.ejs") %>

  <div class="content-guidelines content">
    <span data-aos="fade-down">Content Guidelines</span>
    <br>
    <br>
    <p>We are passionate about allowing our streamers the freedom to express themselves whilst enjoying the games we create. To ensure that you do so fairly, and in line with intellectual property and specifically copyright rules, we have set out the following guidelines for the use of gameplay and screenshots from our games (“Gaming Content”).</p>
    <br>
    <p>1. You may create, upload, livestream and monetise videos on online live streaming websites using our Gaming Content, but only using the authorised Monetization Methods (including advertising and partner programs of live streaming services and available to the public for free). Other forms of monetization of our intellectual property for commercial purposes are not permitted (including limiting access to our content for payment of any kind) or licensing our content to another company for a fee of any kind.</p>
    <br>
    <p>2. You may only use our Gaming Content which has been officially released to the public, or from promotional materials officially released (such as product trailers) and please do not post spoilers which ruin the experience for others.</p>
    <br>
    <p>3. You should include your own creative input and commentary on our Gaming Content. It is not permitted to make videos and images that just contain mere copies of our Gaming Content without any of your creative input or commentary.</p>
    <br>
    <p>4. If you want to use the intellectual property of a third party (e.g music) together with our Gaming Content, you are responsible for obtaining any necessary third-party permissions. Please note that some game soundtracks or songs may not be owned by us, but instead are licensed from an artist.  As this varies from game to game, please be aware that music may trigger content flags and potential removal of the video. Game soundtracks may not be posted or distributed separately and apart from game footage.</p>
    <br>
    <p>5. You are not permitted to imply or state that your videos are officially affiliated with, sponsored, endorsed or approved by us.</p>
    <br>
    <p>6. We reserve the right to remove any content that we believe is unlawful, infringing, inappropriate, or not in line with these Guidelines at any time.</p>
    <br>
    <p>We will update these Guidelines from time to time.  Please refer to the latest version before sharing your content.</p>
    <br>
    <p>We hope that the above Guidelines are set out clearly.  However, please understand that we will not be able to respond to individual enquiries regarding these Guidelines.  If you still have questions, please refer to the Frequently Asked Questions set out below:</p>
    <br>
    <p data-aos="fade-down"><strong>What content is acceptable under the Guidelines? Additionally, what content is not acceptable?</strong></p>
    <br>
    <p>We encourage you to use our Gaming Content in videos and images that feature your creative input and commentary.  However, you may not simply upload or livestream an existing video, gameplay footage without your own creative input, or a copy of content created by someone else without their express permission and please do not post spoilers.</p>
    <br>
    <p data-aos="fade-down"><strong>Do the Guidelines cover video uploads or livestreams as well?</strong></p>
    <br>
    <p>These Guidelines cover both uploads and livestreams.</p>
    <br>
    <p data-aos="fade-down"><strong>What exactly are the "Monetization Methods" as referred to in the Guidelines?</strong></p>
    <br>
    <p>Streamers can monetise their streams on services such as Twitch (e.g. the Twitch “Affiliate” or  “Partner” programs).  Please see our website for further details on what these mean and whether you are eligible for either model.</p>
    <br>
    <p data-aos="fade-down"><strong>Can I sell content that I create and upload or livestream on a sharing service if it includes your content or other creator content?</strong></p>
    <br>
    <p>No, you may not sell any videos, music or images that you have created using our content or any other unauthorised IP content of a third party.</p>
    <br>
    <p data-aos="fade-down"><strong>What about corporate entities, do the Guidelines apply to them?</strong></p>
    <br>
    <p>The Guidelines are only applicable to individual streamers.</p>
    <br>
    <p data-aos="fade-down"><strong>Will there be cases where we will remove content from sharing services</strong></p>
    <br>
    <p>Yes, we reserve the right to remove any content that we believe is unlawful, infringing, inappropriate, or not in line with these Guidelines.  In some cases, we may take down videos on behalf of our third-party partners and in line with our End User License Agreement and Terms of Service.</p>
    <br>
    <p data-aos="fade-down"><strong>What do you mean by content that is "unlawful, infringing, or inappropriate"?</strong></p>
    <p>Examples of unlawful, infringing, or inappropriate content includes some of the following, although these are given for guidance only and there may be others as set out in more detail in our ToS: </p>
    <p>Content that infringes any of our intellectual property rights, our developers or any other third party intellectual property rights;</p>
    <p>Content that violates any applicable laws or regulations;</p>
    <p>Content that features pirated software.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>