<html lang="en"></html>
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="games">
    <div class="image" data-aos="fade-up"></div>
    <br>
    <a href=""><h2>Pummel Party</h2></a>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>