<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="home content">
    <div class="banner" data-aos="zoom-in-up"></div>
    <hr>
    <div class="part-index part-one" data-aos="zoom-in-up">
      <div class="left">
        <h1>What is Pummel Party?</h1>
        <p>Pummel Party is a 4-player online and local-multiplayer party game. Pummel friends or AI using a wide array of absurd items in the board mode and compete to destroy friendships in the unique collection of minigames.</p>
      </div>
      <div class="right">
        <div class="image"></div>
      </div>
    </div>
    <hr>
    <div class="part-index part-two" data-aos="zoom-in-up">
      <div class="right">
        <div class="image"></div>
      </div>
      <div class="left">
        <h1>Local and Online Multiplayer</h1>
        <p>Play how you want. Pummel Party allows 1 to 4 players to compete both online or locally on the same screen. Whether its online, or in person, it's all the same friendship ruining fun.</p>
      </div>
    </div>
    <hr>
    <div class="part-index part-three" data-aos="zoom-in-up">
      <div class="left">
        <h1>Play and practice with AI</h1>
        <p>Already destroyed all your friendships? Well, we have the perfect solution for you! Introducing Rebuilt Game's ground breaking technology that allows our game to play itself! Oh... that's already been done? Well, we can say with some certainty that our AI is the only one that can play our game! Though maybe that isn't even true these days...</p>
      </div>
      <div class="right">
        <div class="image"></div>
      </div>
    </div>
    <hr>
    <div class="screenshots">
      <h1>Screenshots</h1>
      <div class="ss-img"> 
        <div class="img one" data-aos="flip-up"></div>
        <div class="img two" data-aos="flip-up"></div>
        <div class="img three" data-aos="flip-up"></div>
        <div class="img four" data-aos="flip-up"></div>
        <div class="img five" data-aos="flip-up"></div>
        <div class="img six" data-aos="flip-up"></div>
      </div>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
