<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="home content">
    <h2>Welcome to the Website</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis distinctio officia animi, autem et ipsa consequatur. Sint nihil laboriosam, quod esse, amet ipsam voluptatibus ratione reiciendis quas saepe distinctio eius!</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
